<a href="https://colab.research.google.com/github/giocarro/Colab/blob/main/Data_Analyst_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Analyst Interview Notebook

## Introduction

This notebook is designed to simulate real-world data that you could see from our technology. 

It is designed to test your proficiency with Python and Pandas, and your ability to find and present insights.

This data is confidential; we expect you to not share this data with anyone. And we expect you to not get any external assistance.



---


You are working with a US retail customer on a pilot deployment.  They are using technology to track their merchandise throughout their supply chain.  The flow of their supply is:

*   **DC 1:**  Orders are filled and palletized.
*   **Truck:** Pallets travel from the DC 1 to DC 2 via semi-truck.
*   **DC 2:**  Pallets are unloaded, and additional merchandise may be added.  They are then reloaded onto a new truck.
*   **Truck:** Pallets travel from DC 2 to the Store.
*   **Store:** Pallets are unloaded, cases are removed, and stocked, and the empty cases are left behind the building awaiting pickup. 

Your job is to dig into the data and find compelling insights to show the value fo the technology and help move the contract from a pilot into a full scaled deployment. 



---

Each section has defined questions along with point values to help you prioritize your time.  

In addition to the defined questions, the overall notebook and code presentation will be evaluated, and you will be awarded up to 10 points based on the clarity, cleaniness, and efficiency of the code.

## Part 0: Imports

Import necessary packages and

In [1]:
# YOUR CODE HERE:

import pandas as pd
import plotly.express as px

In [2]:
# Cargar Archivo desde Google Drive
from google.colab import drive

In [4]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
%cd /content/drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [6]:
df = pd.read_excel('tote_shipment.xlsx')
df.head()

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.4
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.4
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.4
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.3
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.4

### Dataset Overview

* Site:  A large space that could contain multiple readers. Ex: DC 1.
* Zone:  Point of interest. These represent areas in which repeaters are installed. These can be thought of as sub-zones.  Ex: Dock Doors.
* Asset ID: The unique ID of the asset.
* Asset Type: The type of thing that is detected (ie tote).
* Device ID: The unique gateway reader ID that detected the device in the zone (there can be multiple in one zone).
* Time est: The time in EST.
* Lon: Longituge
* Lat: Latitude
* Temperature_C / F: Temperature in Celsius, Fahrentheit

## PART 1: Data Overview

### Question 1:

* How many unique cases were we tracking throughout this pilot. (1 pt)
* What are the unique zones we could see (1 pt)
* How many POI's are in each Zone. (2 pts)

In [7]:
# YOUR CODE HERE:
# How many unique cases were we tracking throughout this pilot. (1 pt)
df['Site'].unique()

array(['DC 1', 'DC 2', 'Transit', 'Store'], dtype=object)

In [8]:
df['Site'].nunique()

4

In [10]:
# What are the unique zones we could see (1 pt)
df['Zone'].unique()

array(['dock_doors_DC1', 'dock_doors_DC2', 'Forklift3_DC1',
       'pallet_assembly_DC1', 'PhoneKit1Bridge', 'PhoneKit2Bridge',
       'PhoneKit2GW', 'point_of_sale_Store', 'receiving_Store',
       'staging_DC1', 'staging_DC2', 'store_back_Store',
       'store_front_Store', 'Forklift1_DC1', 'PhoneKit1GW'], dtype=object)

In [11]:
df['Zone'].nunique()

15

In [ ]:
# How many POI's are in each Zone. (2 pts)
df['Zone'].unique()

array(['dock_doors_DC1', 'dock_doors_DC2', 'Forklift3_DC1',
       'pallet_assembly_DC1', 'PhoneKit1Bridge', 'PhoneKit2Bridge',
       'PhoneKit2GW', 'point_of_sale_Store', 'receiving_Store',
       'staging_DC1', 'staging_DC2', 'store_back_Store',
       'store_front_Store', 'Forklift1_DC1', 'PhoneKit1GW'], dtype=object)

In [29]:
pd.DataFrame(df.groupby(['Site'])['Zone'].unique().reset_index().rename(columns = {'Zone':'POI'}))

      Site                                                POI
0     DC 1  [dock_doors_DC1, Forklift3_DC1, pallet_assembl...
1     DC 2                      [dock_doors_DC2, staging_DC2]
2    Store  [point_of_sale_Store, receiving_Store, store_b...
3  Transit  [PhoneKit1Bridge, PhoneKit2Bridge, PhoneKit2GW...

In [30]:
pd.DataFrame(df.groupby(['Site'])['Zone'].nunique().reset_index().rename(columns = {'Zone':'POI'}))

      Site  POI
0     DC 1    5
1     DC 2    2
2    Store    4
3  Transit    4

### Question 2:

* What is the temperature range we see?  (1pt)
* Where is temperature the highest and lowest (1pt)

In [25]:
# YOUR CODE HERE:
# What is the temperature range we see? (1pt)
df['Temperature_C'].max() - df['Temperature_C'].min()

25.0

In [26]:
# Highest temperature
df['Temperature_C'].max()

44.0

In [27]:
# Lowest temperature
df['Temperature_C'].min()

19.0

## Part 2: The Journey of a Case

### Question 3:

* Create a visualization that shows where a case was at over time at the zone or POI level. Imagine that this would be included in your presentation to the customer. (Non techical audience) (3 pts)

In [32]:
# Libreria para manipular variables tipo tiempo
from datetime import datetime, date

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130061 entries, 0 to 130060
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   asset_type     130061 non-null  object
 1   asset_id       130061 non-null  int64
 2   tag_id         130061 non-null  object
 3   Site           130061 non-null  object
 4   Zone           130061 non-null  object
 5   device_id      130061 non-null  object
 6   time_est       130061 non-null  datetime64[ns]
 7   lat            130061 non-null  float64
 8   lng            130061 non-null  float64
 9   Temperature_C  130061 non-null  float64
 10  Temperature_F  130061 non-null  float64
 11  Fecha          130061 non-null  object
 12  Time           130061 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(7)
memory usage: 12.9+ MB

In [43]:
df['asset_id'].unique()

array([  2,  37,  52,  58,  59,  62,  70,  84, 102, 145, 149, 159, 167,
       170, 181, 182, 200, 205])

In [ ]:
df.groupby(['asset_id'])
df['asset_id'].unique()

In [34]:
df['time_est'].nunique()

129887

In [36]:
df.groupby(['time_est']).asset_id.nunique()

time_est
2022-08-02 10:14:54.326    1
2022-08-02 10:15:38.860    1
2022-08-02 10:17:23.366    1
2022-08-02 10:18:23.847    1
2022-08-02 10:20:43.706    1
                          ..
2022-08-05 13:28:26.584    1
2022-08-05 13:28:27.564    1
2022-08-05 13:28:28.172    1
2022-08-05 13:28:28.576    1
2022-08-05 13:28:29.966    1
Name: asset_id, Length: 129887, dtype: int64

In [39]:
df['Fecha'] = pd.to_datetime(df['time_est']).dt.date
df.head()

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F,Fecha
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.4,2022-08-02
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.4,2022-08-02
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.4,2022-08-02
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.3,2022-08-02
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.4,2022-08-02

In [40]:
df['Time'] = pd.to_datetime(df['time_est']).dt.time
df.head()

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F,Fecha,Time
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.4,2022-08-02,11:59:26.628000
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.4,2022-08-02,12:00:22.660000
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.4,2022-08-02,12:01:11.234000
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.3,2022-08-02,13:47:58.172000
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.4,2022-08-02,11:58:55.049000

In [47]:
df.head()

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F,Fecha,Time
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.79158,-65.68902,23.0,73.4,2022-08-02,11:59:26.628000
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.79158,-65.68902,23.0,73.4,2022-08-02,12:00:22.660000
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.79158,-65.68902,23.0,73.4,2022-08-02,12:01:11.234000
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.79158,-65.68902,23.5,74.3,2022-08-02,13:47:58.172000
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.79158,-65.68902,23.0,73.4,2022-08-02,11:58:55.049000

In [48]:
#Pending to check
df.groupby(['Fecha', 'Time','Site', 'Zone']).asset_id.unique()

Fecha       Time             Site   Zone
2022-08-02  10:14:54.326000  DC 1   Forklift1_DC1           [70]
            10:15:38.860000  DC 1   pallet_assembly_DC1     [70]
            10:17:23.366000  DC 1   staging_DC1             [37]
            10:18:23.847000  DC 1   staging_DC1             [37]
            10:20:43.706000  DC 1   dock_doors_DC1          [37]
                                                           ...
2022-08-05  13:28:26.584000  Store  receiving_Store        [167]
            13:28:27.564000  Store  receiving_Store        [200]
            13:28:28.172000  Store  receiving_Store        [181]
            13:28:28.576000  Store  receiving_Store         [59]
            13:28:29.966000  Store  receiving_Store         [52]
Name: asset_id, Length: 129914, dtype: object

In [49]:
df_case = df[df.asset_id == 2]
df_case

,asset_type,asset_id,tag_id,Site,Zone,device_id,time_est,lat,lng,Temperature_C,Temperature_F,Fecha,Time
0,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:59:26.628,47.791580,-65.689020,23.0,73.4,2022-08-02,11:59:26.628000
1,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,EC5B0499234F,2022-08-02 12:00:22.660,47.791580,-65.689020,23.0,73.4,2022-08-02,12:00:22.660000
2,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 12:01:11.234,47.791580,-65.689020,23.0,73.4,2022-08-02,12:01:11.234000
3,tote,2,(01)00850027865010(21)0082T0219,DC 1,dock_doors_DC1,3D8B2BDB8673,2022-08-02 13:47:58.172,47.791580,-65.689020,23.5,74.3,2022-08-02,13:47:58.172000
4,tote,2,(01)00850027865010(21)0082T0670,DC 1,dock_doors_DC1,7F9A8353E973,2022-08-02 11:58:55.049,47.791580,-65.689020,23.0,73.4,2022-08-02,11:58:55.049000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6764,tote,2,(01)00850027865010(21)0082T0670,Store,store_front_Store,6AF833197EE3,2022-08-05 09:00:28.894,47.749230,-65.641010,22.0,71.6,2022-08-05,09:00:28.894000
6765,tote,2,(01)00850027865010(21)0082T0670,Store,store_front_Store,6AF833197EE3,2022-08-05 09:00:50.535,47.749230,-65.641010,22.0,71.6,2022-08-05,09:00:50.535000
6766,tote,2,(01)00850027865010(21)0082T0670,Store,store_front_Store,6AF833197EE3,2022-08-05 09:01:28.268,47.749230,-65.641010,22.0,71.6,2022-08-05,09:01:28.268000
6767,tote,2,(01)00850027865010(21)0082T0670,Store,store_front_Store,6AF833197EE3,2022-08-05 09:02:57.199,47.749388,-65.640811,22.0,71.6,2022-08-05,09:02:57.199000
6768,tote,2,(01)00850027865010(21)0082T0670,Store,store_front_Store,6AF833197EE3,2022-08-05 09:04:58.575,47.749230,-65.641010,22.0,71.6,2022-08-05,09:04:58.575000

In [50]:
df_case.groupby(['Fecha','Time','Site', 'Zone']).asset_id.unique()

Fecha       Time             Site   Zone
2022-08-02  10:59:58.887000  DC 1   pallet_assembly_DC1    [2]
            11:00:27.633000  DC 1   pallet_assembly_DC1    [2]
            11:16:33.564000  DC 1   pallet_assembly_DC1    [2]
            11:17:25.682000  DC 1   pallet_assembly_DC1    [2]
            11:18:11.883000  DC 1   pallet_assembly_DC1    [2]
                                                          ...
2022-08-05  13:26:39.605000  Store  receiving_Store        [2]
            13:27:15.800000  Store  receiving_Store        [2]
            13:27:37.625000  Store  receiving_Store        [2]
            13:28:16.376000  Store  receiving_Store        [2]
            13:28:24.536000  Store  receiving_Store        [2]
Name: asset_id, Length: 6769, dtype: object

### Question 4:

* Visualize how the temperatue changes over time along its journey.  Imagine that this would be included in your presentation to the customer. (Non techical audience) (4 pts)

In [ ]:
# YOUR CODE HERE:
df_1 = df.groupby(['Site'])#['Temperature_C']
#df_1.head()

### Question 5:
* Visualize the lon lat data on a map to show how the case traveled.  You may incorporate any other additional information to make this more impactful. Imagine that this would be included in your presentation to the customer. (Non techical audience) (5 pts)

**Do not worry if this looks like non-sense on a map.  Ex:  The trip may appear to occur over water or in a forest because this is a toy dataset.**

In [ ]:
# YOUR CODE HERE:

# Part 3: Customer Questions

### Question 6:

The customer wants to understand the efficieny of ther DC operations.
* Based on what you see in the data, (all zones except for STORE), which parts of their operation are most & least "efficient? (10 pts)

In [ ]:
# YOUR CODE HERE

YOUR TEXT ANSWER HERE

### Question 7:

The customer wants to understand the stocking efficiency in stores.
* Based on what you see in the data, how quickly did the store unload and stock the merchandise. (5 pts)
* How could this be converted in a KPI that a regional manager could track?  (5 pts)

In [ ]:
# YOUR CODE HERE

YOUR TEXT ANSWER HERE

### Question 8:

Please explain what you would ask for and what you will do with this data, given that you can talk with the following people (no code needed):

YOUR TEXT ANSWER HERE
* a. X
* b. Y

## Part 4: Bonus Insights

### Question 8

The customer is open to hearing about additional insights you found in the data above and beyond what they asked for.
* Based on what you can see in the data, are there any other interesting insights that the customer may want to hear about? (Up to 15 bonus points)

In [ ]:
# YOUR CODE HERE
# Another metrics that could be interesting would be temperature by time

YOUR TEXT ANSWER HERE