<a href="https://colab.research.google.com/github/giocarro/Colab/blob/main/Pandas_tarea_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Cargar Archivo desde Google Drive
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
pip install pyreadr

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyreadr
  Downloading pyreadr-0.4.7-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (362 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 363.0/363.0 kB 7.8 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from pyreadr) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pyreadr) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pyreadr) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pyreadr) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadr) (1.16.0)
Installing collected packages: pyreadr
Successfully installed pyreadr-0.4.7

In [4]:
import pyreadr

In [5]:
%cd /content/drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [6]:
result = pyreadr.read_r('counties.rds') # also works for RData

In [7]:
# Convierte rds file that has been read to DataFrame
df = result[None]

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
import pandas as pd

In [10]:
df.head()

              name  total.pop  white  black  hispanic  asian
0  alabama,autauga    54571.0   77.2   19.3       2.4    0.9
1  alabama,baldwin   182265.0   83.5   10.9       4.4    0.7
2  alabama,barbour    27457.0   46.8   47.8       5.1    0.4
3     alabama,bibb    22915.0   75.0   22.9       1.8    0.1
4   alabama,blount    57322.0   88.9    2.5       8.1    0.2

In [11]:
df.name.nunique()

3082

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3082 entries, 0 to 3081
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3082 non-null   object
 1   total.pop  3045 non-null   float64
 2   white      3045 non-null   float64
 3   black      3045 non-null   float64
 4   hispanic   3045 non-null   float64
 5   asian      3045 non-null   float64
dtypes: float64(5), object(1)
memory usage: 144.6+ KB

In [13]:
df.describe()

          total.pop        white        black     hispanic        asian
count  3.045000e+03  3045.000000  3045.000000  3045.000000  3045.000000
mean   9.859730e+04    78.872834    10.647665     8.330011     1.053072
std    3.168578e+05    19.421847    14.281763    13.340652     2.034212
min    8.200000e+01     2.800000     0.100000     0.000000     0.000000
25%    1.121100e+04    67.800000     2.000000     1.600000     0.300000
50%    2.600800e+04    86.200000     4.200000     3.200000     0.500000
75%    6.646900e+04    94.400000    12.400000     8.100000     1.000000
max    9.818605e+06    99.200000    86.000000    95.700000    33.300000

In [14]:
df.head()

              name  total.pop  white  black  hispanic  asian
0  alabama,autauga    54571.0   77.2   19.3       2.4    0.9
1  alabama,baldwin   182265.0   83.5   10.9       4.4    0.7
2  alabama,barbour    27457.0   46.8   47.8       5.1    0.4
3     alabama,bibb    22915.0   75.0   22.9       1.8    0.1
4   alabama,blount    57322.0   88.9    2.5       8.1    0.2