<a href="https://colab.research.google.com/github/giocarro/Colab/blob/main/Pandas_tarea_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Cargar Archivo desde Google Drive
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
pip install pyreadr

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyreadr
  Downloading pyreadr-0.4.7-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (362 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 363.0/363.0 kB 6.4 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from pyreadr) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pyreadr) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pyreadr) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pyreadr) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadr) (1.16.0)
Installing collected packages: pyreadr
Successfully installed pyreadr-0.4.7

In [25]:
import pyreadr
import pandas as pd
import plotly.io as pio
import plotly.express as px

In [5]:
%cd /content/drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [6]:
result = pyreadr.read_r('counties.rds') # also works for RData

In [7]:
# Convierte rds file that has been read to DataFrame
df = result[None]

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
import pandas as pd

In [10]:
df.head()

              name  total.pop  white  black  hispanic  asian
0  alabama,autauga    54571.0   77.2   19.3       2.4    0.9
1  alabama,baldwin   182265.0   83.5   10.9       4.4    0.7
2  alabama,barbour    27457.0   46.8   47.8       5.1    0.4
3     alabama,bibb    22915.0   75.0   22.9       1.8    0.1
4   alabama,blount    57322.0   88.9    2.5       8.1    0.2

In [11]:
df.shape

(3082, 6)

In [12]:
df.name.nunique()

3082

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3082 entries, 0 to 3081
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3082 non-null   object
 1   total.pop  3045 non-null   float64
 2   white      3045 non-null   float64
 3   black      3045 non-null   float64
 4   hispanic   3045 non-null   float64
 5   asian      3045 non-null   float64
dtypes: float64(5), object(1)
memory usage: 144.6+ KB

In [28]:
#Data Frame sin filas de valores nulos
df1 = df.dropna()
df1

                     name  total.pop  white  black  hispanic  asian
0         alabama,autauga    54571.0   77.2   19.3       2.4    0.9
1         alabama,baldwin   182265.0   83.5   10.9       4.4    0.7
2         alabama,barbour    27457.0   46.8   47.8       5.1    0.4
3            alabama,bibb    22915.0   75.0   22.9       1.8    0.1
4          alabama,blount    57322.0   88.9    2.5       8.1    0.2
...                   ...        ...    ...    ...       ...    ...
3077        wyoming,teton    21294.0   82.2    1.9      15.0    1.1
3078        wyoming,uinta    21118.0   88.5    2.3       8.8    0.3
3079     wyoming,washakie     8533.0   83.9    2.6      13.6    0.6
3080       wyoming,weston     7208.0   93.8    2.0       3.0    0.3
3081  new mexico,valencia    76569.0   36.2    5.4      58.3    0.5

[3045 rows x 6 columns]

In [29]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3045 entries, 0 to 3081
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3045 non-null   object
 1   total.pop  3045 non-null   float64
 2   white      3045 non-null   float64
 3   black      3045 non-null   float64
 4   hispanic   3045 non-null   float64
 5   asian      3045 non-null   float64
dtypes: float64(5), object(1)
memory usage: 166.5+ KB

In [30]:
df1.describe()

          total.pop        white        black     hispanic        asian
count  3.045000e+03  3045.000000  3045.000000  3045.000000  3045.000000
mean   9.859730e+04    78.872834    10.647665     8.330011     1.053072
std    3.168578e+05    19.421847    14.281763    13.340652     2.034212
min    8.200000e+01     2.800000     0.100000     0.000000     0.000000
25%    1.121100e+04    67.800000     2.000000     1.600000     0.300000
50%    2.600800e+04    86.200000     4.200000     3.200000     0.500000
75%    6.646900e+04    94.400000    12.400000     8.100000     1.000000
max    9.818605e+06    99.200000    86.000000    95.700000    33.300000

# **Lugar menos poblado y mas poblado**

In [32]:
# Lugar menos poblado
df1.loc[df1['total.pop'] == min(df1['total.pop'])]

              name  total.pop  white  black  hispanic  asian
2642  texas,loving       82.0   73.2    7.3      22.0    0.0

In [33]:
# Lugar mas poblado
df1.loc[df1['total.pop'] == max(df1['total.pop'])]

                       name  total.pop  white  black  hispanic  asian
174  california,los angeles  9818605.0   27.8   13.2      47.7   13.7

In [35]:
df_tp = df1[['name', 'total.pop']].sort_values('total.pop', ascending = False)
df_tp

                        name  total.pop
174   california,los angeles  9818605.0
575            illinois,cook  5194675.0
2592            texas,harris  4092459.0
73          arizona,maricopa  3817117.0
192     california,san diego  3095313.0
...                      ...        ...
1625         nebraska,blaine      478.0
1623         nebraska,arthur      460.0
2622            texas,kenedy      416.0
2626              texas,king      286.0
2642            texas,loving       82.0

[3045 rows x 2 columns]

In [38]:
fig_tp = px.histogram(df_tp, x='name', y='total.pop')
fig_tp.update_layout(
    xaxis_title = 'Condados', # Título Eje X
    yaxis_title = 'Poblacion', # Titulo Eje Y
    title_text = 'Poblacion de USA por condados', # Título
    ) 
fig_tp.show()

# Lugar con el menor y mayor numero de personas de raza blanca

In [16]:
# Lugar con menor porcentaje gente de raza blanca
df.loc[df['white'] == min(df['white'])]

                      name  total.pop  white  black  hispanic  asian
2385  south dakota,shannon    13586.0    2.8    0.9       2.2    0.1

In [17]:
# Lugar con mayor porcentaje gente de raza blanca
df.loc[df['white'] == max(df['white'])]

                 name  total.pop  white  black  hispanic  asian
1625  nebraska,blaine      478.0   99.2    0.8       0.0    0.0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3082 entries, 0 to 3081
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3082 non-null   object
 1   total.pop  3045 non-null   float64
 2   white      3045 non-null   float64
 3   black      3045 non-null   float64
 4   hispanic   3045 non-null   float64
 5   asian      3045 non-null   float64
dtypes: float64(5), object(1)
memory usage: 144.6+ KB

# Lugar con el menor y mayor numero de personas de raza negra

In [19]:
# Lugar con menor porcentaje gente de raza negra
df.loc[df['black'] == min(df['black'])]

                name  total.pop  white  black  hispanic  asian
1663  nebraska,hayes      967.0   96.0    0.1       3.4    0.3

In [20]:
# Lugar con mayor porcentaje gente de raza negra
df.loc[df['black'] == max(df['black'])]

                       name  total.pop  white  black  hispanic  asian
1398  mississippi,jefferson     7726.0   13.7   86.0       0.4    0.0

## Lugar con el menor y mayor numero de personas de raza hispana

In [21]:
# Lugar con menor porcentaje gente de raza hispana
df.loc[df['hispanic'] == min(df['hispanic'])]

                 name  total.pop  white  black  hispanic  asian
1625  nebraska,blaine      478.0   99.2    0.8       0.0    0.0

In [22]:
# Lugar con mayor porcentaje gente de raza hispana
df.loc[df['hispanic'] == max(df['hispanic'])]

                name  total.pop  white  black  hispanic  asian
2653  texas,maverick    54258.0    2.9    1.3      95.7    0.3

#Lugar con el menor y mayor numero de personas de raza asiatica

In [23]:
# Lugar con menor porcentaje gente de raza asiatica
df.loc[df['asian'] == min(df['asian'])]

                          name  total.pop  white  black  hispanic  asian
37               alabama,lamar    14564.0   86.1   12.5       1.2    0.0
65              alabama,wilcox    11670.0   26.6   73.0       0.6    0.0
244             colorado,kiowa     1398.0   93.3    1.8       5.6    0.0
418           georgia,glascock     3082.0   89.2    9.3       1.1    0.0
1052           kentucky,owsley     4755.0   98.0    0.9       0.8    0.0
1076            kentucky,wolfe     7355.0   98.5    0.7       0.6    0.0
1090       louisiana,catahoula    10407.0   66.7   32.2       0.9    0.0
1238         michigan,keweenaw     2156.0   98.2    1.3       0.7    0.0
1398     mississippi,jefferson     7726.0   13.7   86.0       0.4    0.0
1445     mississippi,wilkinson     9878.0   28.5   71.1       0.4    0.0
1598         montana,petroleum      494.0   98.4    1.2       1.0    0.0
1624           nebraska,banner      690.0   95.1    0.7       3.8    0.0
1625           nebraska,blaine      478.0   99.2    0.8       0.0    0.0
1655           nebraska,garden     2057.0   94.4    1.6       3.9    0.0
1666           nebraska,hooker      736.0   98.0    0.5       1.1    0.0
1678             nebraska,loup      632.0   97.6    0.3       2.1    0.0
1679        nebraska,mcpherson      539.0   98.0    1.9       0.4    0.0
1767        new mexico,de baca     2022.0   59.3    4.1      38.5    0.0
1772        new mexico,harding      695.0   56.3    1.7      43.0    0.0
1960       north dakota,benson     6660.0   43.0    1.4       1.2    0.0
1978    north dakota,hettinger     2477.0   95.8    1.5       0.5    0.0
2001        north dakota,slope      727.0   97.2    0.3       1.7    0.0
2005       north dakota,towner     2246.0   96.4    0.8       0.4    0.0
2364      south dakota,jackson     3031.0   42.6    5.0       1.3    0.0
2366        south dakota,jones     1006.0   94.3    2.0       1.3    0.0
2388        south dakota,sully     1373.0   96.4    2.3       0.9    0.0
2496           texas,armstrong     1901.0   90.7    1.7       6.5    0.0
2513             texas,briscoe     1637.0   71.0    4.9      25.1    0.0
2541              texas,cottle     1505.0   69.3   10.9      21.0    0.0
2623                texas,kent      808.0   82.8    2.4      14.9    0.0
2626                texas,king      286.0   84.6    1.4      13.6    0.0
2642              texas,loving       82.0   73.2    7.3      22.0    0.0
2664              texas,motley     1210.0   83.7    3.1      13.5    0.0
2707            texas,sterling     1143.0   64.1    3.1      31.9    0.0
2722               texas,upton     3355.0   48.0    3.9      49.0    0.0
2745              texas,zavala    11677.0    5.5    2.2      93.9    0.0
2969  west virginia,pocahontas     8719.0   97.3    1.7       0.8    0.0

In [24]:
# Lugar con mayor porcentaje gente de raza asiatica
df.loc[df['asian'] == max(df['asian'])]

                         name  total.pop  white  black  hispanic  asian
193  california,san francisco   805235.0   41.9   10.7      15.1   33.3